body {                                    // On parametre le body de notre page en y réduisant le padding et margin à 0 et en y ajoutant une police de caractère
  margin: 0;
  padding: 0;
   font-family: "Roboto", serif;
}