.main {                               // On ajoute une classe main pour le conteneur de la page principale
    padding: 2rem 3rem;
    min-height: 60vh;
  @media screen and (width <= 768px) {
    padding: 1rem;
}
}